# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Codice rinnovato/progetto1/nbproject/private/
/Codice rinnovato/progetto1/build/
/Elezioni v2/nbproject/private/
/Elezioni v2/build/
/Documents/CalcolatriceOmari/build/
/Documents/CalcolatriceOmari/dist/
/Documents/CalcolatriceOmari/nbproject/private/
/Documents/NetBeansProjects/CIAOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO/nbproject/private/
/Documents/NetBeansProjects/OLEEEEEEEEEE/nbproject/private/
/Documents/NetBeansProjects/calctommy/nbproject/private/
/Documents/NetBeansProjects/calctommy/build/
/Documents/NetBeansProjects/calctommy/dist/
/Documents/NetBeansProjects/tastiera/nbproject/private/
/Documents/NetBeansProjects/tastiera/build/
/Documents/NetBeansProjects/tastiera/dist/
/Documents/NetBeansProjects/verificaFX/nbproject/private/
/Documents/NetBeansProjects/verificaFX/build/
/Documents/NetBeansProjects/verificaFX/dist/
/Documents/NetBeansProjects/contenitoreC/nbproject/private/
/Documents/NetBeansProjects/JavaFXApplication10/nbproject/private/
/Documents/NetBeansProjects/JavaFXApplication10/build/
/Documents/NetBeansProjects/JavaFXApplication10/dist/
/Documents/NetBeansProjects/JavaFXApplication11/nbproject/private/
/Documents/ArrayStack Omari/ArrayStack/build/
/Documents/ArrayStack Omari/ArrayStack/nbproject/private/
/Documents/NetBeansProjects/Es_Arraystack/nbproject/private/
/Documents/NetBeansProjects/Es_Arraystack/build/
/Documents/NetBeansProjects/ProvaClassiAstratte/nbproject/private/
/Documents/NetBeansProjects/ProvaClassiAstratte/build/
/Documents/NetBeansProjects/ProvaClassiAstratte/dist/
/Documents/NetBeansProjects/javafx/nbproject/private/
/Documents/NetBeansProjects/javafx/build/
/Documents/NetBeansProjects/javafx/dist/
/Documents/NetBeansProjects/preparazione/nbproject/private/
/Documents/NetBeansProjects/preparazione/build/
/Documents/NetBeansProjects/GEOMETRIAA/nbproject/private/
/Documents/NetBeansProjects/verifica/nbproject/private/
/Documents/Verficia Barbie Girl2/Verficia Barbie Girl/nbproject/private/
/Documents/Verficia Barbie Girl2/Verficia Barbie Girl/build/
/Documents/Leak VERIFICA/Verficia Barbie Girl/nbproject/private/
/Documents/Leak VERIFICA/Verficia Barbie Girl/build/
/Documents/NetBeansProjects/main_tris/nbproject/private/
/Documents/NetBeansProjects/main_tris/build/
/Documents/NetBeansProjects/main_tris/dist/
/Documents/NetBeansProjects/tris_stack/nbproject/private/
/Documents/NetBeansProjects/tris_stack/build/
/Documents/tris/nbproject/private/
/Documents/NetBeansProjects/TrisMain/nbproject/private/
/Documents/NetBeansProjects/TrisMain/dist/
/Documents/NetBeansProjects/TrisMain/build/
/Documents/NetBeansProjects/triss/nbproject/private/
/Documents/NetBeansProjects/triss/build/
/Documents/NetBeansProjects/triss/dist/
/Documents/NetBeansProjects/interrogazione/nbproject/private/
/Documents/NetBeansProjects/interrogazione/build/
/Documents/NetBeansProjects/Tris/nbproject/private/
/Documents/NetBeansProjects/Tris/build/
/Documents/NetBeansProjects/Tris/dist/
/Documents/NetBeansProjects/Biancanve/nbproject/private/
/Documents/NetBeansProjects/Biancanve/build/
/Documents/NetBeansProjects/Biancanve/dist/
/Documents/NetBeansProjects/String_calculator/nbproject/private/
/Documents/NetBeansProjects/String_calculator/build/
/Documents/NetBeansProjects/StringCalc/nbproject/private/
/Documents/NetBeansProjects/StringCalc/build/
/Documents/NetBeansProjects/String_Calculator/nbproject/private/
/Documents/NetBeansProjects/String_Calc/nbproject/private/
/Documents/NetBeansProjects/String_Calc/build/
/Documents/NetBeansProjects/istogramma/nbproject/private/
/Documents/NetBeansProjects/istogramma/build/
/Documents/NetBeansProjects/istogramma/dist/
/Documents/NetBeansProjects/Albero/nbproject/private/
/Documents/NetBeansProjects/Albero/build/
/Documents/NetBeansProjects/alberi2/nbproject/private/
/Documents/NetBeansProjects/alberi2/build/
/Downloads/Dante_Di/nbproject/private/
/Documents/NetBeansProjects/ver/nbproject/private/
/Documents/NetBeansProjects/tepsit/nbproject/private/
/Documents/NetBeansProjects/tepsit/build/
/Documents/NetBeansProjects/tepsit1/nbproject/private/
/Documents/NetBeansProjects/tepsit1/build/
/Documents/NetBeansProjects/VerTepsit/nbproject/private/
/Documents/NetBeansProjects/VerTepsit/build/
/Documents/NetBeansProjects/Anagram/nbproject/private/